@model IEnumerable<GestorEventos.Servicios.Entidades.EventoViewModel>

@{
    ViewData["Title"] = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Eventos</h1>

<p>
    <a asp-action="Create" class="text-white">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.IdEvento)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.NombreEvento)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.FechaEvento)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.CantidadPersonas)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.IdTipoEvento)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.IdPersonaAgasajada)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.IdUsuario)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.Visible)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.Borrado)</span>
            </th>
            <th>
                <span class="text-white">@Html.DisplayNameFor(model => model.EstadoEvento)</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.IdEvento)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.NombreEvento)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.FechaEvento)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.CantidadPersonas)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.IdTipoEvento)</span>
            </td>
            <td>
                 <span class="text-white">@Html.DisplayFor(modelItem => item.IdPersonaAgasajada)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.IdUsuario)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.Visible)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.Borrado)</span>
            </td>
            <td>
                    <span class="text-white">@Html.DisplayFor(modelItem => item.EstadoEvento)</span>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {  id=item.IdEvento  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IdEvento })
            </td>
        </tr>
}
    </tbody>
</table>
